#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.label-download-forecast{
  font-size: 24px;
  margin-top: -10px;
  margin-bottom: 15px;
  
}

.file-result-flag{
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.loading-bth{
  margin: 40px;
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0; 
	height: 0;
}

.input-file-btn {
  background-color:  white;
  color: #213547;
  border: 2px solid #213547;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  margin: 30px;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
}
.input-file-btn:hover{
   background-color: #213547;
   color: white;
}

.flex-buttons{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.button-dark-download{
  border: 2px solid white;
}
.button-dark-download:hover{
 background-color: white;
 color: #213547;
 border: 2px solid #213547;
}

.nav a{

  color: white ;
 
}
.nav a:hover{
  text-decoration: underline;
}

.nav{
   display: flex;
   justify-content: center;
   gap: 50px;
   font-size: 25px;
   background-color: #213547;
   padding: 20px;
   
}

.input-login{
 color: #213547;
 font-size: 20px;
 border: 2px solid #213547;

}

.input-login-button{
 font-size: 20px;
 border: 2px solid white;
 padding: 20px;
 color: white;
 background-color: #213547;
 margin: 0px;
 height: 45px;
 margin-bottom: 10px;

}
.input-login-button:hover{
 font-size: 21px;
 border: 2px solid #213547 !important;
 padding: 21px;
 color: #213547 !important;
 background-color: white !important;
}



